<% if user_signed_in? %>
<h3>Welcome back, <%= current_user.first_name %> <%= current_user.last_name %></h3>
<h4>Here are your challenges</h4>

<%= render :partial => 'challenge_table' %>

<%= link_to "New Challenge", new_challenge_path %>

<% else %>
<h3>Welcome guest, register or sign in to view your challenges</h3>
<% end %>