<h3>Welcome back moderator, <%= current_user.first_name %> <%= current_user.last_name %></h3>
<h4>Here are all the challenges</h4>

<%= render :partial => 'challenge_table_for_mod' %>

<%= link_to "New Challenge", new_challenge_path %>