<h3>Welcome back, <%= current_user.first_name %> <%= current_user.last_name %></h3>
<h4>Here are your challenges</h4>

<%= render :partial => 'challenge_table_for_user' %>

<%= link_to "New Challenge", new_challenge_path %>