/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap-datepicker
 *= require bootstrap-wysihtml5
 */
.content {
 background-color: #eee;
 padding: 20px;
 margin: 0 -20px;
 -webkit-border-radius: 0 0 0px 0px;
 -moz-border-radius: 0 0 0px 0px;
 border-radius: 0 0 0px 0px;
 -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
 -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
 box-shadow: 0 1px 2px rgba(0,0,0,.15);
}


.navbar .container { height: 45px; }